*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

#logo{
    float: left;
}

#header{
    background: rgb(44,58,204); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(44,58,204,1) 0%, rgba(32,124,202,1) 33%, rgba(32,124,202,1) 47%, rgba(32,124,202,1) 62%, rgba(41,137,216,1) 75%, rgba(125,185,232,1) 96%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(44,58,204,1) 0%,rgba(32,124,202,1) 33%,rgba(32,124,202,1) 47%,rgba(32,124,202,1) 62%,rgba(41,137,216,1) 75%,rgba(125,185,232,1) 96%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(44,58,204,1) 0%,rgba(32,124,202,1) 33%,rgba(32,124,202,1) 47%,rgba(32,124,202,1) 62%,rgba(41,137,216,1) 75%,rgba(125,185,232,1) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3acc', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
    height: 100px;
    border-bottom: 1px solid black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header ul{
    height: 100px;
    width: 450px;
    margin: 0 auto;
}
#header ul li{
    list-style-type: none;
    width: 150px;
    float: right;
    text-align: center;
    line-height: 100px;
}

li a{
    text-decoration: none;
    display: block;
    color:#fff;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#header ul li a:hover{
    background-color: #fff;
    color: #2c3acc;
}

h1{
    float: left;
    width: 300px;
    line-height: 100px;
    margin-left:10px;
    font-size: 30px;
    color: #fff
    
}

#text{
    width: 600px;
    overflow-wrap: break-word;
    font-size: 25px;
    color: black;
    position: absolute;
    top: 225px;
    left: 100px;
}

#computer{
    position: absolute;
    top: 150px;
    right: 100px;
}

#phone{
    position: absolute;
    top: 150px;
    right: 600px;
}


